.menu a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 14px 25px; /* Buton boyutları küçültüldü */
  background-color: #ff007f;
  color: white;
  font-size: 16px; /* Daha küçük font boyutu */
  font-weight: 500;
  border-radius: 10px; /* Köşeler daha köşeli yapıldı */
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: 100%;
  text-align: center;
  position: relative;
}

.whatsapp-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 25px; /* Buton boyutları küçültüldü */
  background-color: #25D366;
  border-radius: 10px; /* Köşeler daha köşeli yapıldı */
  color: white;
  font-size: 14px; /* Daha küçük font boyutu */
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
